// compileCompressed: style.css
$clockHW: 22vw
$clockMarginColor: #449944
@import url('https://fonts.googleapis.com/css?family=Pacifico')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

*
  margin: 0px
body
  background-color: #228866
  color: white
  h1
    text-align: center
    margin: 15px
    font:
      family: 'Pacifico', cursive
      size: 5vw
  #clock
    position: absolute
    cursor: pointer
    border: 3px solid $clockMarginColor
    height: $clockHW
    width: $clockHW
    top: 35vh
    left: 50 - 11vw
    border-radius: 50%
    overflow: hidden
    p
      text-align: center
      margin: 50px auto
      width: 80%
      font-family: 'Open Sans', sans-serif
      font-size: 3em
    #time
      text-align: center
      margin: 50px auto
      width: 80%
      font:
        family: 'Open Sans', sans-serif
        size: 4em
    #fill
      z-index: -1
      background-color: $clockMarginColor
      height: $clockHW
      width: 100%
      position: absolute
  #debug
    position: absolute
    background-color: #887766
    width: 20%
    height: 400px
    margin: 50px
    top: 100px
    font-size: 2em
    text-align: center
    font-weight: bold
    display: none
#settings
  position: relative
  font-size: 2em
  width: 40%
  left: 30%
  text-align: center
  div
    display: inline
    margin: 0 5px
    padding: 0 20px
  #heading
    display: block
    font-size: 0.5em
  #breakMinutes
    float: left
    // border: 1px solid green
  #sessMinutes
    float: right
    // border: 1px solid green
  .decre, .incre
    background: none
    border: none
    font-size: inherit
    color: inherit
    outline: none
    cursor: pointer
