// compileCompressed: style.css
@import url('https://fonts.googleapis.com/css?family=Pacifico')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
*
  margin: 0px
body
  background-color: #228866
  h1
    text-align: center
    color: white
    margin: 15px
    font:
      family: 'Pacifico', cursive
      size: 5vw
  #clock
    cursor: pointer
    border: 3px solid #449944
    height: 300px
    width: 300px
    margin: 40px auto
    border-radius: 50%
    p
      text-align: center
      margin: 50px auto
      width: 80%
      color: white
      font-family: 'Open Sans', sans-serif
      font-size: 3em
    #time
      text-align: center
      margin: 50px auto
      width: 80%
      color: white
      font:
        family: 'Open Sans', sans-serif
        size: 4em
